name: TorPrivoxy Docker Build

on:
   push:
     branches: 
       - master 
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: checkout code
      uses: actions/checkout@v3.3.0
    - name: setup qemu
      id: qemu
      uses: docker/setup-qemu-action@v2.1.0
      with:
          platforms: all
    - name: install buildx
      id: buildx
      uses: docker/setup-buildx-action@v2.4.1
      with:
       version: latest
    - name: Log in to the Container registry
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm/v7,linux/arm/v6,linux/arm64
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/torprivoxy:latest
        file: Dockerfile
        cache-from: type=gha
        cache-to: type=gha,mode=max
    - name: Build and push debian
      uses: docker/build-push-action@v3
      with:
        context: .
        push: true
        platforms: linux/amd64,linux/arm/v7,linux/arm/v6,linux/arm64
        tags: |
          ${{ secrets.DOCKER_USERNAME }}/torprivoxy:latest-debian
        file: Dockerfile.debian
        cache-from: type=gha
        cache-to: type=gha,mode=max
